header{
    display: flex;
    justify-content: space-between;
    nav ul{
        display: flex;
        list-style: none;
        gap: 1em;
        a{
            text-decoration: none;
            color: black;
        }
        li:first-of-type a{
            color: #9B9A78;
        }
    }
    aside ul{
        display: flex;
        list-style: none;
        gap: 1em;
        li:nth-of-type(2) a{
            color: #9B9A78;
        }
        li:nth-of-type(3) a{
            color: white;
            background-color: #9B9A78;
            text-decoration: none;
            padding: 0.7em 2em;
        }
    }
}