header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 130px;
    padding: 20px 0;
    @include breakpoint(mobile){
        gap: 0;
        margin-bottom: 30px;
    }
    div.dropdown{
        display: none;
        position: absolute;
    }
    @include breakpoint(mobile){
        @include dropdown($redFont);
    }
    nav ul{
        display: flex;
        gap: 40px;
        list-style: none;
        @include breakpoint(mobile){
            display: none;
        }
        a{
            text-decoration: none;
            color: $blackFont;
        }
    }
    aside{
        margin-left: auto;
        @include breakpoint(mobile){
            display: none;
        }
        ul{
        display: flex;
        gap: 40px;
        list-style: none;
        a{
            text-decoration: none;
            color: $whiteFont;
        }
        li:last-of-type a{
            color: $whiteFont;
            background-color: $redFont;
            padding: 10px 35px;
        }
    }
    }  
}