$blue: #666CA3;

$black: #13183F;

$gray: #83869A;

$pink: #F74780;

$lightPink: #FFA7C3;

$white: #FFFFFF;

$orangeGradient: linear-gradient(180deg, #FF6F48 0.04%, #F02AA6 100%);

$blueGradient: linear-gradient(180deg, #4851FF 0%, #F02AA6 99.92%);

$font: 'Plus Jakarta Sans', sans-serif;