html * {
    font-family: $font;
}
 
body{
    background-color: #515DEF;
    margin: 0;
}

div.page{
    background-image: url(../img/Mask-Group@2x.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    margin-left: auto;
    margin-right: auto;
    @include breakpoint(mobile){
        background-size: 70%;
        background-position: top left;
    }
}